<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="au.edu.sydney.comp5703.cs30.chat.mapper.ChannelMapper">
    <resultMap id="ChannelMap" type="au.edu.sydney.comp5703.cs30.chat.entity.Channel">
        <constructor>
            <arg column="name" javaType="String" />
            <arg column="workspace_id" javaType="_long" />
            <arg column="is_public" javaType="_boolean" />
        </constructor>
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gmt_create" property="timeCreated"/>
        <result column="gmt_modified" property="timeModified"/>
        <result column="workspace_id" property="workspaceId"/>
        <result column="is_public" property="publicChannel"/>
        <result column="is_direct_message" property="directMessage"/>
    </resultMap>

    <insert id="insertChannel" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into chat_channel(
            name, workspace_id, is_public, is_direct_message
        ) values (
            #{name}, #{workspaceId}, #{publicChannel}, #{directMessage}
        )
    </insert>

    <select id="findById" resultMap="ChannelMap">
        select * from chat_channel where id = #{id} and not is_deleted
    </select>

    <select id="findByWorkspaceAndName" resultMap="ChannelMap">
        select * from chat_channel where workspace_id = #{workspaceId} and name = #{name} and not is_deleted
    </select>

    <select id="findPublicByWorkspaceId" resultMap="ChannelMap">
        select * from chat_channel where workspace_id = #{workspaceId} and is_public and not is_deleted
    </select>

    <select id="findPrivateByWorkspaceAndMember" resultMap="ChannelMap">
        select
            cc.*
        from
            chat_channel cc join chat_channel_member ccm on (ccm.channel_id = cc.id and not ccm.is_deleted)
        where
            workspace_id = #{workspaceId}
            and ccm.user_id = #{userId}
            and not cc.is_public
            and not cc.is_deleted
    </select>

    <select id="findDirectMessageChannels" resultMap="ChannelMap">
        select
            cc.*
        from
            chat_channel cc join
            <choose>
                <when test="type == 0">
                    chat_channel_member ccm on (cc.id = ccm.channel_id and not ccm.is_deleted)
                    where ccm.user_id = #{memberId} and cc.is_direct_message and not cc.is_deleted
                </when>
                <when test="type = 1">
                    chat_channel_organization cco on (cc.id = cco.channel_id and not cco.is_deleted)
                    where cco.organization_id = #{memberId} and cc.is_direct_message and not cc.is_deleted
                </when>
            </choose>
    </select>
</mapper>