<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="au.edu.sydney.comp5703.cs30.chat.mapper.ChannelMapper">
    <resultMap id="ChannelMap" type="au.edu.sydney.comp5703.cs30.chat.entity.Channel">
        <constructor>
            <arg column="name" javaType="String" />
            <arg column="workspace_id" javaType="_long" />
            <arg column="is_public" javaType="_boolean" />
        </constructor>
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gmt_create" property="timeCreated"/>
        <result column="workspace_id" property="workspaceId"/>
        <result column="is_public" property="public_"/>
        <result column="is_pinned" property="pinned"/>
    </resultMap>

    <insert id="insertChannel" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into chat_channel(
            name, workspace_id, is_public, is_pinned
        ) values (
            #{name}, #{workspaceId}, #{public_}, #{pinned}
        )
    </insert>

    <select id="findById" resultMap="ChannelMap">
        select * from chat_channel where id = #{id} and not is_deleted
    </select>

    <select id="findByWorkspaceAndName" resultMap="ChannelMap">
        select * from chat_channel where workspace_id = #{workspaceId} and name = #{name} and not is_deleted
    </select>

    <select id="findIdByWorkspaceId" resultType="long">
        select id from chat_channel where workspace_id = #{workspaceId} and not is_deleted
    </select>

    <select id="findByWorkspaceAndMember" resultMap="ChannelMap">
        select
            *
        from
            chat_channel
        where
            workspace_id = #{workspaceId} and
            (select count(*) from chat_channel_member where channel_id = chat_channel.id and user_id = #{userId}) and
            not is_deleted
    </select>
</mapper>