<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="au.edu.sydney.comp5703.cs30.chat.mapper.FileMapper">
    <resultMap id="FileMap" type="au.edu.sydney.comp5703.cs30.chat.entity.File">
        <constructor>
            <arg column="filename" javaType="String" />
            <arg column="path" javaType="String" />
            <arg column="size" javaType="_long" />
            <arg column="uploader_id" javaType="_long" />
        </constructor>
        <id column="id" property="id"/>
        <result column="filename" property="filename"/>
        <result column="gmt_create" property="timeCreated"/>
        <result column="path" property="path"/>
        <result column="size" property="size"/>
        <result column="status" property="status"/>
        <result column="uploader_id" property="uploaderId"/>
    </resultMap>

    <insert id="insertFile" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into chat_file (
            filename,
            path,
            size,
            uploader_id,
            status
        ) values (#{filename}, #{path}, #{size}, #{uploaderId}, #{status})
    </insert>

    <select id="findById" resultMap="FileMap">
        select * from chat_file where id = #{id} and not is_deleted
    </select>

    <update id="updateFile" >
        update
            chat_file
        set
            filename = #{filename},
            path = #{path},
            size = #{size},
            uploader_id = #{uploaderId},
            status = #{status}
        where
            id = #{id}
    </update>

    <select id="filter" resultMap="FileMap">
        select
            cf.*
        from
            chat_file cf left outer join chat_file_usage cfu on (cf.id = cfu.file_id)
        <trim prefix="where" prefixOverrides="and | or">
            <if test="userId != null">cf.uploader_id = #{userId}</if>
            <if test="workspaceId != null">and cfu.usage_type = 1 and cfu.usage_id = #{workspaceId}</if>
            <if test="channelId != null">and cfu.usage_type = 2 and cfu.usage_id = #{channelId}</if>
            <if test="messageId != null">and cfu.usage_type = 3 and cfu.usage_id = #{messageId}</if>
        </trim>
    </select>

    <insert id="addUsage">
        insert into chat_file_usage (
            usage_type, usage_id, file_id
        ) values (
            #{usageType},
            #{usageId},
            #{fileId}
        )
        on duplicate key update id = id
    </insert>

</mapper>