<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="au.edu.sydney.comp5703.cs30.chat.mapper.UserMapper">
    <resultMap id="UserEntityMap" type="au.edu.sydney.comp5703.cs30.chat.entity.User">

        <id column="user_id" property="id"></id>
        <result column="user_name" property="name"></result>
        <result column="gmt_create" property="timeCreated"></result>
    </resultMap>

    <insert id="insert">
        insert into users(
            user_id,user_name,gmt_create
        ) values (
                     #{id},#{name},#{timeCreated}
                 )
    </insert>

    <select id="findByUid" resultMap="UserEntityMap">
        select * from users where user_id=#{id}
    </select>

    <select id="findByName" resultMap="UserEntityMap">
        SELECT
            *
        FROM
            users
        WHERE
            user_name = #{name}
    </select>
</mapper>