<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="au.edu.sydney.comp5703.cs30.chat.mapper.WorkspaceMapper">
    <resultMap id="WorkspaceMap" type="au.edu.sydney.comp5703.cs30.chat.entity.Workspace">
        <constructor>
            <arg column="name" javaType="String" />
        </constructor>
        <id column="workspace_id" property="id"/>
        <result column="workspace_name" property="name"/>
    </resultMap>

    <insert id="insertWorkspace" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into chat_workspace (
            name
        ) values (
            #{name}
        )
    </insert>

    <select id="findById" resultMap="WorkspaceMap">
        select * from chat_workspace where id=#{id} and not is_deleted
    </select>

    <select id="findByMemberId" resultMap="WorkspaceMap">
        select * from chat_workspace where id in (select workspace_id from chat_workspace_member where user_id = #{memberId}) and not is_deleted
    </select>

    <insert id="addMember">
        insert into chat_workspace_member (
            workspace_id, user_id
        ) values (
            #{workspaceId}, #{userId}
        )
    </insert>

    <select id="getMemberIds">
        select user_id from chat_workspace_member where workspace_id = #{workspaceId} and not is_deleted
    </select>
</mapper>